.splitterContainer {
  padding: 0px;
  margin: 0px;
  border-width: 0px;
}

.perspectiveContent {
  position: absolute;
  top: 0;
  bottom: 10px;
  left: 0;
  right: 36px;
}

.persectiveContentNoTool {
  top: 0;
}

.perspectiveContent.rightPaneVisible {
  right: 305px;
}

.sapWattSplitterPane {
  white-space: normal;
}

.sapUiTreeCont.sapUiTreeContScroll {
  display: initial;
}

